<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>gestionempleadosAnabel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DepartamentoServlet</display-name>
    <servlet-name>DepartamentoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.DepartamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartamentoServlet</servlet-name>
    <url-pattern>/DepartamentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartamentosServlet</display-name>
    <servlet-name>DepartamentosServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.DepartamentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartamentosServlet</servlet-name>
    <url-pattern>/Departamentos.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ipartek.formacion.controller.listener.InitListener</listener-class>
  </listener>
</web-app>